<% include ./partials/header %>


    <br>
    <br>
    <br>
    <div>
        <div class="ui-huge-header">Author List</div>
        <h4>Total Authors:
            <%= authors.length%>
        </h4>
        <div>
            <div>
                <% authors.forEach(function(author){ %>
                    <div class="book-card">
                        <div class="book-image">
                            <img id="book-card-image" class="" src='<%= author.PortraitURL %>'>
                        </div>
                        <div class="book-info">
                            <h2>
                                <%=author.FirstName%>
                                    <%=author.LastName%>
                            </h2>
                            <h3>Author Of:</h3>
                            <% for(let i=0; i < joined.length; i++){ %>
                                <% if(author.FirstName === joined[i].first_name){%>
                                    <h4>
                                        <%=joined[i].title%>
                                    </h4>
                                    <%} %>
                                        <%}%>
                                            <br>
                                            <span><%= author.Biography %></span>
                                            <a href="/authors/<%= author._id %>">Read More</a>
                        </div>
                    </div>
                    <% }) %>
            </div>
        </div>
    </div>




    <% include ./partials/footer %>